jax==0.4.35
numba
PyWavelets
spgl1
scikit-fmm
sympy==1.13.1
devito
dtcwt
astra-toolbox>=2.2.0
matplotlib
ipython
pytest
pytest-runner
setuptools_scm
docutils<0.18
Sphinx
pooch
pydata-sphinx-theme
sphinx-gallery
sphinxemoji
numpydoc
nbsphinx
image
pre-commit
autopep8
isort
black
flake8
mypy
pytensor==2.28.0
segyio